body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ddd; /* لون الخلفية */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* تباعد بين العنوان وباقي العناصر */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* لون خلفية الزر */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049; /* تغيير لون الزر عند تحويل الماوس عليه */
}

p#advice {
    margin-top: 20px;
    font-style: italic;
    background-color: #fff; /* لون خلفية النص */
    padding: 10px;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
